.Logo {
    font-family: "Tilt Warp", sans-serif;
    color: white;
}

.NavBar {
    background-color: rgb(0, 87, 75);
    border-bottom: 4px solid rgb(255, 186, 186);
    color: white;
}
.NavLink {
    padding: 10px;
}

.Active i, .Active {
    color: rgb(255, 204, 204);
}