.Post {
    background-color: rgb(0, 87, 75);
    border: 0px solid rgb(0, 87, 75);
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ff004c;
  }
  
  .Heart:hover {
    color: rgb(255, 204, 204);
    /*green hover color: rgb(3, 216, 205);*/
  }
  
  .HeartOutline:hover {
    color: rgb(255, 94, 120);
  }